@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
p{
  margin: 5px !important;
  text-align: left;
  padding: 0;
}
.btn1{
  box-shadow: none !important;
  background-color: orangered !important;
  color: white !important;
  border-radius: 10% !important;
  border: orangered !important;
  font-weight: 900 !important;
  padding: 5px !important;
}
.header{
  padding: 10px;
  color: black;
  font-weight: bold;
}
.header .ant-btn{
  box-shadow: none !important;
  background-color: orangered !important;
  color: white !important;
  border: 1px solid orangered !important;
  padding: 5px !important;
  font-weight: 900 !important;
  margin-top: 10px;
  border-radius: 10% !important;
}
.content{
  min-height: 90vh;
  color: black;
  font-weight: bold;
}
.caring{
  height: 150px;
  width: auto;
  border-radius: 5px;
}
.car-content{
  transition: 0.3s;
}
.login{
  background-color: lightcyan;
  
  padding: 100px;
  min-width: 100vh;
}
.login label, .login h1{
  color: white !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1f1f1f;
  color: whitesmoke;
  font-weight: 900;
}
.login-form input{
  background-color: #333333 !important;
  border: none !important;
  color: white ;
  opacity: 0.5;
}
.login a{
  color: white;
  opacity: 0.5;
}